/* ComplitedTrue.module.css */
.notification {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 15px;
    border-radius: 20px;
    color: white;
    position: fixed;      /* фиксируем к экрану */
    top: 20px;            /* расстояние от верха экрана */
    left: 50%;
    transform: translateX(-50%);
    min-width: 120px;
    max-width: 250px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    z-index: 9999;
    animation: slidePopup 1.2s ease forwards;
}

.notification img {
    width: 24px;
    height: 24px;
}

.notification span {
    font-size: 14px;
}

.success {
    background-color: #28a745;
}

.error {
    background-color: #dc3545;
}

@keyframes slidePopup {
    0% { top: 0px; opacity: 0; }
    10% { top: 20px; opacity: 1; }
    90% { top: 20px; opacity: 1; }
    100% { top: 0px; opacity: 0; }
}